form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  outline: 0;
  background-color: rgba(239, 239, 239, 0.523);
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.166);
  font-size: 16px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
  outline: 0;
  border: 0;
  background-color: rgba(239, 239, 239, 0.523);
  margin-top: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.166);
  font-size: 16px;
  border-radius: 5px;
}
form {
  margin-bottom: 20px;
}

